/* 720 */
/* HEADER - LOGO- NAV BARRE */
header
{
 width: 720px;
 margin: auto;  
}

/* HEADER - LOGO- NAV BARRE */

.logo-reservia
{
 margin-top: 2rem;
}

#navigateur-top
{
 margin-top: 3rem;
}

/* MAIN TITRE */

.titre-nav
{
 width: 720px;
 margin: auto;
}

/* MAIN - RECHERCHE LOCALISATION */

#recherche-localisation
{
 margin-bottom: 2rem;
}

/* MAIN - NAVIGATEUR FILTRES */

#navigateur-filtres
{
 width: 720px;
 margin: auto;
 font-size: 0.8rem;
}

#navigateur-filtres i
{
    padding-left: 0.9rem;
    padding-top: 1.2rem;
}

.boutons-filtres
{
 margin-right: 0.5rem;
 margin-top: 1rem;
}
.filtres 
{
 margin-right: 0.5rem;
}

/* MAIN - HEBERGEMENT A MARSEILLE */

.hebergements-a-marseille
{
 width: 720px;
 margin: auto;
}

.hebergements-a-marseille img
{
 width: 100%;
 object-fit: cover;
 height: 110px;

}

.bouton-afficher
{
 margin-left: 0%;
}

/* MAIN - LES PLUS POPULAIRES */

.les-plus-populaires
{
 width: 720px;
 margin: auto;
 display:flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
}

.plus-populaires
{
 margin-top: 0%;
 display: flex;
 flex-direction: column;
 width: 12rem;
 height:15rem;
}

.plus-populaires img 
{
 width: 12rem;
 height: 7.5rem;
 border-bottom-left-radius: 0px;
 border-top-right-radius: 15px;
}

.Titre i
{
 margin-left: 30rem;
}

/* MAIN - ACTIVITES A MARSEILLE */

.activites-a-marseille
{
 width: 720px;
 margin: auto;
 height: auto;
 display: flex;
 justify-content: space-around;
}

.part2
{
 margin-bottom: 2rem;
}

.part1
{
 margin-bottom: 2rem;
}

/* FOOTER - LIENS*/

#lien-footer
{
 width: 720px;
 margin: auto;
 padding-top: 2rem;
}

