/* 540px */
/* HEADER - LOGO- NAV BARRE */

header
{
 margin:auto;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 padding: 0%;
 width: 540px;
 align-items: baseline;
}

.button-inscription-off-small
{
 display: none;
}

.button-inscription-off-large
{
 display: flex;
 align-self: flex-end;
 text-decoration:none;
 cursor: pointer;
 color: #0065FC;
}

.button-inscription-off-large :hover
{
 color: black;
}

#navigateur-top
{
 width: 100%;
 height: 4rem;
 display: flex;
 justify-content: center;
 font-size: 1rem; 
}

.button-hover-nav-top  
{
 padding-left: 3rem;
 padding-right: 3rem;
 padding-top: 3rem;
 font-size: 1.2rem; 
}

.button-hover-nav-top:hover
{
 border-bottom: 0.2rem solid #0065FC;
 color:  #0065FC;
 border-top: none;
}

/* MAIN - TITRE */

.titre-nav
{
 display: flex;
 margin: auto;
 flex-direction: column;
 align-items: center;
 flex-wrap: wrap;
 width: 540px;
}

#titre
{
 margin-top: 2rem;
 align-items: center;
 width: 100%;
}

#titre h1
{
 font-size: 1.7rem;
 letter-spacing: 1px;
 text-align: center;
 margin-bottom: 1rem;
}

#titre p
{
 width: 100%;
 font-size: 1.2rem;
 text-align: center;
 letter-spacing: 1px;
}

/* MAIN - RECHERCHE LOCALISATION */

.recherche-ville
{
 width: 15rem;
 border: 0.5px solid #DCDCDC;
}

#recherche-localisation i
{
 height: 3.2rem;
}

.bouton-recherche
{
 display: none;
}

#bouton-recherche2 i
{
 border:none;
 background-color: #0065FC;
 height: 3.2rem;
 width: 3rem;
 border-top-right-radius:1rem ;
 border-bottom-right-radius:1rem ;
 display: flex;
 align-items: center;
 justify-content: center;
 text-decoration: none;
 color: #DCDCDC;
 margin-left: -1rem;
}

#bouton-recherche2 i:hover
{
 color: black;
}

/* MAIN - NAVIGATEUR FILTRES */

#navigateur-filtres
{
 display: flex;
 flex-direction:column;
 flex-wrap: wrap;
 justify-content: left;
 width: 100%;
 
}

.filtres
{
 margin-bottom:1.5rem ;
}

#navigateur-filtres a
{
 margin-bottom: 1rem;
}

/* MAIN - LIGNE INFO */

.info i
{
 margin-right: 1rem;
}

.info
{
 width: 100%;
}

/* CSS COMMUN ARTICLES */

.Titre h1
{
 width: 90%;
 margin-left: 4.5rem;
}

/* MAIN - HEBERGEMENT A MARSEILLE */

.hebergements-a-marseille
{
 display: flex;
 height: auto;
 order: 2;
 background-color: white;
 border: none;
 width: 540px;
 align-items: center;
 padding: 0%;
 margin: auto;
}

.hebergement
{
 width: 300px;
 width: 400px;
 height: 250px;
}

.hebergement img
{
 height: 160px;
}

.bouton-afficher
{
 width: 90%;
 margin-left: 4.5rem;
}

/* MAIN - LES PLUS POPULAIRES */

.les-plus-populaires
{
 display: flex;
 flex-direction: column;
 width: 540px;
 order: 1;
 margin: auto;
 padding: 2px 2px;
 background-color: #DCDCDC ;
 align-items: center;
}

.plus-populaires
{
 width: 400px;
}

/* MAIN - ACTIVITES A MARSEILLE */

.activites-a-marseille
{
 display: flex;
 flex-direction: column;
 order: 3;
 margin:auto;
 flex-wrap: nowrap;
 align-items: center;
 width: 540px;
}

.activites-a-marseille h2
{
 margin-left: 0.5rem;
 margin-top: 1rem;
}

.activite-xsmall, .activite-small, .activite-medium, .activite-large
{
 width: 400px;
 height:250px ;
 margin-bottom: 4rem;
}

.activite-xsmall img, .activite-small img, .activite-medium img, .activite-large img
{
 width: 400px;
 height:180px ;
}

.part1
{
 display: flex;
 flex-direction: column;
 margin: 0%;
}

.part2
{
 display: flex;
 flex-direction: column;
}

/* FOOTER - LIENS*/

footer
{
 background-color: white;
}

#lien-footer
{
 background-color: #DCDCDC;
 display: flex;
 flex-direction: column;
 padding-top: 2rem;
 margin: auto;
 width: 540px;
 height: 26rem;
}

.lien
{
 margin-bottom: 2rem;
 margin-left: 5rem;
}
